@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #272727;
}
::-webkit-scrollbar-thumb:hover {
  background: #323232;
}

.pride {
  background-image: linear-gradient(
    180deg,
    rgba(254, 0, 0, 0.3) 16.66%,
    rgba(253, 140, 0, 0.3) 16.66%,
    33.32%,
    rgba(255, 229, 0, 0.3) 33.32%,
    49.98%,
    rgba(17, 159, 11, 0.3) 49.98%,
    66.64%,
    rgba(6, 68, 179, 0.3) 66.64%,
    83.3%,
    rgba(194, 46, 220, 0.3) 83.3%
  );
}
.pride:hover {
  background-image: linear-gradient(
    180deg,
    rgba(254, 0, 0, 0.5) 16.66%,
    rgba(253, 140, 0, 0.5) 16.66%,
    33.32%,
    rgba(255, 229, 0, 0.5) 33.32%,
    49.98%,
    rgba(17, 159, 11, 0.5) 49.98%,
    66.64%,
    rgba(6, 68, 179, 0.5) 66.64%,
    83.3%,
    rgba(194, 46, 220, 0.5) 83.3%
  );
}

.scale-in {
  animation: scale-in 0.15s ease-in-out forwards;
}

@keyframes scale-in {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

dialog {
  position: fixed;
  top: 0;
  left: 0;
  max-height: 90vh;
  display: block;
  pointer-events: none;
  opacity: 0;
  transform: translateY(100vh);
  transition: all 0.3s;
  cursor: pointer;
}

dialog[open] {
  opacity: 1;
  transform: translateY(0);
  pointer-events: unset;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.25);
}
